# relative to this file
indir:..
outdir:..
# set this to :0 or nw to debug problems with generating htmlized files
# otherwise, set it to an unused x display, or just nw if you don't use a
# graphical display
xvfb_disp::5
# y/n
highlight_css:y
# y/f/n (f to use a format string for an email address)
export_email:f
# y/n
org_info:y
